# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\actual_Coding\c\PS1_mini\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
